<%-include('partials/header')-%>
    <h1 style="margin-top:3rem; text-align:center; font-size:3rem; font-family: 'Libre Baskerville', serif; font-weight: 700;">About us!</h1>
    <p> </p>
<!-- <%-include('partials/footer')-%> -->