<%-include('partials/header')-%>

    <div style="margin-top: 3rem;" class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <h1
                    style="margin-top:1rem; text-align:center; font-size:5rem; font-family: 'Libre Baskerville', serif; font-weight: 700;">
                    Contact us!</h1>

                    <img style="display:block; margin:auto; width:60%; height:60%;" src="/images/3969587.jpg">
            </div>

            <div style="margin-left:-1rem; margin-top: 2rem;" class="col-md-6 col-lg-6">
                <form id=contactforms>
                    <div style="margin-left: -1.5rem;" class="form-row">
                        <div class="form-group col-md-6">
                            <label style="font-family:'Poppins', sans-serif;" for="inputEmail4">First name</label>
                            <input style="height:5rem; font-family:'Poppins', sans-serif;" type="text" class="form-control" id="inputEmail4" placeholder="First name">
                        </div>
                        <div class="form-group col-md-6">
                            <label style="font-family:'Poppins', sans-serif;" for="inputPassword4">Second name</label>
                            <input style="height:5rem; font-family:'Poppins', sans-serif;" type="text" class="form-control" id="inputPassword4" placeholder="Second name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label style="font-family:'Poppins', sans-serif;">Email address</label>
                        <input style="height:5rem; font-family:'Poppins', sans-serif;" type="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label style="font-family:'Poppins', sans-serif;">How can we help you?</label>
                        <textarea class="form-control" style="height:5rem; font-family:'Poppins', sans-serif;" type="text"></textarea>
                    </div>
                    <button style="font-family:'Poppins', sans-serif;" type="submit" class="btn btn-primary">Post your query</button>
                </form>

                <p style="letter-spacing:0.8px;  color:rgb(128, 126, 126); font-size:1.3rem; margin-top:5rem; text-align:center; font-family:'Poppins', sans-serif;">Need to get in touch with us? Either fill out the form<br>with your inquiry or find the department email you'd<br>like to contact below.</p>
            </div>
        </div>
    </div>
    <!-- <%-include('partials/footer')-%> -->